.nav-link {
  color: aquamarine;
}
.navbar-nav .nav-link.active {
  color: rgb(206, 200, 200);
}
.navbar {
}
.navbar-expand-lg {
}
.bg-dark {
}
.container-fluid {
}
.navbar-brand img {
  width: 40px;
}
.navbar-toggler {
  background-color: rgb(143, 142, 142);
}
.navbar-toggler-icon {
}
.collapse {
}
.navbar-collapse {
}
.navbar-nav {
}
.nav-item {
}
.nav-link {
}
.active {
}
